@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.footer-logo, .bastille-row h2 {
    font-family: 'shrikhand', sans-serif;
}



.header {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    width: 380px;
    padding-left: 20px;
}

.header i {
    padding-top: 7px;
}

.header h1 {
    font-family: shrikhand;
}

.main-img {
    width: 100%;
    height: 250px;
}

.bastille-row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5px;
}

.entrees {
    margin-top: 20px;
    border: solid 2px #99e2d0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 70px;
    margin-left: 3%;
}

.main-dish {
    margin-top: 40px;
    border: solid 2px #99e2d0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 85px;
    margin-left: 3%;
}

.desserts {
    margin-top: 40px;
    border: solid 2px #99e2d0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 75px;
    margin-left: 3%;
}

.card-container {
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 95%;
    margin-top: 15px;
    animation: fadein-bottom 2.5s ease-in-out both;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.card:nth-child(2) {
    animation-delay: 0.5s;
}

.card:nth-child(3) {
    animation-delay: 1s;
}

@-webkit-keyframes fadein-bottom {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.check-mark {
    background: #99e2d0;
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.6s ease-in-out;
}

.price h4 {
    position: absolute;
    bottom: 15px;
}

.price {
    position: relative;
    width: 10%;
    transition: 0.6s ease-in-out;
    display: flex;
    justify-content: center;
}


.card:hover i {
    animation: rotate 1s forwards;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.card:hover {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.card:hover .check-mark {
    transform: translateX(0%);
    width: 20%;
    
}


.card h3 {
    font-size: 15px;
}


.menu {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    background: whitesmoke;
    margin-top: -50px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
}

.card-description {
    width: 70%;
    padding: 15px 25px;
}

.card-description p {
    font-weight: 400;
    width: 100%;
    font-size: 12px;
}

.card:hover .card-description {
    width: 50%;
}

.card:hover p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}

.card-container, .card-containermaindish, .card-containerdessert {
    padding-left: 3%;
}


.search-btn {
    background-color: #FF79DA;
    color: white;
    font-size: 16px;
    border-right: 1px;
    border-top: 0px;
    border-radius: 30px;
    height: 40px;
    width: 140px;
    background: linear-gradient(355deg, #9356DC, #FF79DA);
}

footer {
    background-color: #454242;
    color: white;
    width: 100%;
    margin-left: 0%;
}

footer a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}

footer a:hover {
    color: #ff79da;
}

.footer-main {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.footer-logo {
    padding-bottom: 20px;
}

.footer-row1 {
    padding-bottom: 15px;
}

.footer-row2 {
    padding-bottom: 15px;
}


.card-containerdessert {
    margin-bottom: 5%;
}




@media only screen and (min-width: 768px) {
    header {
        margin-left: 21%;
    }

    .main-img {
        width: 100%;
        
    }

    footer {
        width: 100%;
        margin-left: 0%;
    }
}

@media only screen and (min-width: 992px) {
    header {
        margin-left: 30%;
    }

    .main-img {
        width: 100%;
        height: 400px;
        margin-bottom: -35px;
    }

    .menu {
        width: 80%;
        margin: auto;
        
    }

    .card-container, .card-containermaindish, .card-containerdessert {
        display: flex;
        margin-left: 0%;
    }

    .card {
        width: 300px;
        margin-right: 1%;
    }

    footer {
        width: 100%;
        margin-left: 0%;
        margin-top: 80px;
    }

}




