@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.footer-logo {
    font-family: 'shrikhand', sans-serif;
}

.logo {
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 8px;
}

.location {
    display: flex;
    padding-left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e6e6e6;
    font-size: 20px;
}

.location i {
    padding-right: 10px;
}

.text-box {
    width: 100%;
    position: absolute;
    margin-top: 108px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f1f1f1;
}

.text-box h2 {
    padding-bottom: 40px;
    padding-top: 20px;
    margin-left: -70px;
    font-size: 32px;
}

.text-box p {
    padding-bottom: 30px;
    font-size: 19px;
    margin-left: -112px;
}

.explore-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ff79da;
    border-radius: 20px;
    padding: 12px 34px;
    font-size: 18px;
    background-color: rgb(255,121,218);
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: -90px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.explore-btn:hover {
    background-color: rgb(255,121,218);
    mix-blend-mode: lighten;
    transition: 0.5s;
}

.howitworks {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 30%;
}

.howitworks h2 {
    font-size: 33px;
    margin-left: 70px;
}

.small-card1 {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: #f1f1f1;
    margin-right: 50px;
    align-items: center;
}

.small-card1 i.fa-circle {
    color: #9356dc;
    margin-left: -2%;
    
}

.small-card1 i.fa-mobile-screen-button {
    padding-right: 30px;
    padding-left: 30px;
    color: grey;
}

.no-1 {
    padding-left: -10px;
    position: absolute;
    left: -245px;
    color: white;
}

.small-card2 {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: #f1f1f1;
    margin-right: 50px;
    align-items: center;
    margin-top: 20px;
}

.no-2 {
    position: absolute;
    left: 83px;
    color: white;
}

.small-card2 i.fa-circle {
    color: #9356dc;
    margin-left: -2%;
    padding-right: 13px;
}

.menu-icon {
    padding-left: 3%;
    padding-right: 3%;
}

.no-3 {
    position: absolute;
    left: 85px;
    color: white;
}

.small-card3 {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
    align-items: center;
}

.small-card3 i.fa-circle {
    color: #9356dc;
    margin-right: 13px;
    margin-left: -5px;
}

.small-card3 i.fa-store {
    color: #9356dc;
    padding-right: 5%;
}

.smallcards {
    margin-left: 85px;
    margin-top: 2%;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 380px;
    height: 325px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 75%;
    border-radius: 5px 5px 0 0;
}

.container {
    margin-top: 720px;
    margin-left: 35%;
}

.justcards {
    background-color: #f1f1f1;
    height: 1390px;
    width: 390px;
    padding-top: 10px;
    padding-left: 1%;
    animation: fadein-bottom 2.5s ease-in-out both;;
}


@-webkit-keyframes fadein-bottom {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fadein-bottom {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

footer {
    background-color: #454242;
    color: white;
    margin-top: 65px;
}

footer a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}

footer a:hover {
    color: #ff79da;
}

.footer-main {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.footer-logo {
    padding-bottom: 20px;
}

.footer-row1 {
    padding-bottom: 15px;
}

.footer-row2 {
    padding-bottom: 15px;
}

.new {
   background: lightgreen;
   color: darkgreen;
   width: 65px;
   height: 25px;
   text-align: center;
   position: relative;
   top: -230px;
   right: -295px;
}

.heart, .purpleheart {
    position: relative;
    right: -335px;
    top: -20px;
}

.fa-heart-o {
    cursor: pointer;
    padding-left: -20px;
    
}

.fa-heart-o:hover::before {
    opacity: 1;
  }

  .fa-heart-o::before {
    content: "";
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(180deg, #9356DC 10%, #FF79DA 60%);
    height: 100%;
    width: 100%;
  }

  .fa-heart-o:hover {
    opacity: 1;
    -webkit-animation: fill 1s ease-in-out both;
    animation: fill 1s ease-in-out both;
  }

  .heart i.far, .purpleheart i.far {
    margin-left: -30px;
    margin-top: -25px;
  }
  

  .cardcontainer a {
    text-decoration: none;
    font-size: 20px;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 100;
    transition: opacity 0.75s, visibility 0.75s;
  }

  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }

  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #FF79DA;
    border-radius: 50%;
    animation: spin 0.75s ease infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media only screen and (max-width: 600px) and (min-width: 400px) {
    .logo {
        margin-left: 28%;
        margin-bottom: 5px;
    }

    .location {
        padding-left: 28%;
    }

    .text-box h2 {
        margin-left: 5%;
    }

    .text-box p {
        margin-left: 1%;
    }

    .explore-btn {
        font-size: 17px;
        margin-left: 6%;
    }

    .howitworks h2 {
        margin-top: -330px;
        margin-left: -110px;
    }

    .smallcards {
        display: block;
        margin-left: -90px;
        margin-top: 40px;
    }

    .small-card1 {
        margin-bottom: 25px;
    }

    .small-card3 {
        margin-top: 25px;
    }

    .container {
        margin-top: 770px;
        margin-left: 1px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        width: 380px;
        height: 315px;
    }


    .justcards {
        width: 415px;
        height: 800px;
        padding-left: 2%;
    }

    footer {
        margin-top: 600px;
    }

    .no-1 {
        position: absolute;
        left: -94px;
        padding-top: 1px;
    }

    .no-2 {
        position: absolute;
        left: -93px;
    }

    .no-3 {
        position: absolute;
        left: -89px;
    }

}